body {
    background-color:black;
    text-align: center;
    color: white;
    
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.mainGrid {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: "bangers";
    color: yellow;
    font-size: 75px;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 5px 10px black

}

#cookieDisplay {
    font-family: 'bangers';
    font-size: 40px;
    margin-top: 20px;
    
}

a {
    font-family: 'bangers';
}

button {
    background-color: red;
    font-family: 'bangers';
    height:100px;
    width: 100px;
    border-radius: 50px;
    margin: 5px;
}

.whatKind {
    font-family: 'bangers';
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

}


/* #cookieChoiceAppendSug {
    background-color: pink;
    font-family: 'bangers';
    height:100px;
    width: 100px;
    border-radius: 50px;
    margin: 10px;
}

#cookieChoiceAppendChoc {
    background-color: purple;
    font-family: 'bangers';
    height:100px;
    width: 100px;
    border-radius: 50px;
    margin: 10px;
} */



.counter {
    font-family: 'bangers';
    
}

.cookiePlateGrid {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: dotted;
    border-color: pink;
}

.appendCookies {
    display: grid;
    position: relative;
    z-index: 2;
}

.cookiesHere {
    display: flex;
    justify-content: center;
    border: dotted;
    border-color: black;
    height: 275px;
    width: 275px;
    position: absolute;
    z-index: 2;
    margin-top: 60px;

}

.cookiePlate {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 250px;
    /* margin: 40px;*/
}

#tooMany {
    font-family: 'bangers';
    color: red;
}
