body {
    background: black;
    text-align: center;
    color: white;
    
}

h1 {
    font-family: "bangers";
    color: white;
    font-size: 75px;
    text-align: center;
    margin: 0 auto;

}

#cookieDisplay {
    font-family: 'bangers';
    font-size: 40px;
    margin-top: 20px;
    
}

a {
    font-family: 'bangers';
}

button {
    background-color: red;
    font-family: 'bangers';
    height:100px;
    width: 100px;
    border-radius: 50px;
    margin: 20px;
}

.counter {
    font-family: 'bangers';
    
}

.cookiePlateGrid {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px
    /* background: pink */
}

.cookiePlate {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 250px;
    /* margin: 40px;*/
}

#tooMany {
    font-family: 'bangers';
    color: red;
}